body {
    background: #1d1832 ;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.ul-header {
    display: flex;
    gap: 15px;
}

ul li  {
    list-style: none;
    padding: 20px;
    border-radius: 5px;
}
ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul li a:hover {
    color: #40dedc;
}

#first-sec {
    background-image: url(/img/children.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: left center top;
    padding: 50px;
    height: 400px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
}

#h3-firts {
    padding-top: 35px;
}

#gif-blocos-scratch {
    margin-left: 30px;
    margin-top: 30px;

}

#second-div {
    height: 50px; 
    width: auto;
    margin-top: -280px; 
    margin-left: 17cm; 
    text-align:left;
}

#bloco-pesquisa {
    margin-top: 5px;
    margin-bottom: -40px;
}

#conta-no-scratch {
    padding: 30px;
    width: auto;
    margin-top: 190px;
    text-align:left;
    color: white;

}

.center {
    text-align: center;
}

.font {
    font-family: cursive;
    font-size: 20px;
    color: white;
}

.galeria {
    width: 100%;
    border-radius: 1px;
}

.galeria .imagem {
    padding: 5px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1px solid black;
}

#roda-pe {
    padding: 35px;
    background-color: #45568a;
}


