@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-image: linear-gradient(to right, #102444, #0c4381,#5c66c8);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.ul-header {
    display: flex;
    gap: 5px;
}

ul li  {
    list-style: none;
    padding: 20px;
    border-radius: 5px;
}

ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul li a:hover {
    color: #c78ffa;
}

#main-title {
    width:auto;
    padding: 20px;
    text-align:center;
    color: white; 
    font-family: cursive;
    font-size: 25px;
}

.format-subtitle {
    text-align: center;
    padding-top: 20px;
}

.format-div {
    padding: 30px;
    width: auto;
    margin-top: 40px;
    text-align:left;
    color: white; 
    font-family: cursive;
    font-size: 20px;
}

#first-sec {
    background-image: url(/img/children.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: left center top;
    padding: 50px;
    height: 400px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 15px;
    color: black;
    font-size: 20px;
    font-family: 'Amatic SC', sans-serif;
}

#h3-firts {
    width: 350px;
    color: black;
    text-align: left;
    margin-left: 960px;
    margin-top: 180px;

}

#gif-blocos-scratch {
    margin-left: 30px;
    margin-top: 30px;

}

#first-div {
    height: 50px; 
    width: 615px;
    margin-top: -280px; 
    margin-left: 16cm; 
    text-align:justify;
}


#second-div {
    padding-top: 250px;
}

.center {
    text-align: center;
}

.font {
    color: white;
    font-family: cursive;
    font-size: 20px;
}

.galeria {
    width: 100%;
    border-radius: 1px;
}

.galeria .imagem {
    padding: 5px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1px solid white;
}

.paragraph::before {
    content: counter(cont);
    counter-increment: cont;
}

#roda-pe {
    display: flex;
    background-color: #dce5f6;
    font-size: 15px;
    font-family: 'Hind';
    justify-content:center;
    text-align: center;
    gap: 1px;
    color: black;
}


